*{
    text-decoration: none;
    font-family:"Inter", sans-serif;
}
html{
    scroll-behavior:smooth;
    max-width: 100%;
}
body{
    background-color: black;
    margin:0;
}
div{
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
}
h1{
    color:white;
}

#super-container{
    width: 100%;
    padding: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow: hidden;
}

#hero-section{
    background-image: radial-gradient(rgb(47, 46, 46), rgb(0, 0, 0), black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 12rem;

}
/* Navigation bar */

 #nav-container{
    opacity: 1;
    transform: none;
    --tw-bg-opacity: 0.5;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    border-bottom: 1px solid rgb(31, 42, 61);
    z-index: 50;
    position: relative;
    overflow: hidden;
 }

#navdiv{
    min-width: 1024px;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

#button-container{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.social-logo{
    height:22px;
    width:22px;
}

#menu-items{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

#menu-items a{
    color:white;
    text-decoration: inherit;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#menu-items a:hover{
    color: #9ba3af;
}

#social-container{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.logo{
    background-color:white; 
    height:20px;
    width:20px; 
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    text-align: center;
    padding:5px 5px 5px 5px; 
    font-size: 20px;
    color:black;
}
/* The area used for showcasing the main info */
                    /* Dev info */

.main-heading{
    opacity: 1;
    transform: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap:1rem;
    background-color: hsl(var(--background) / .96);
    color:white;
    line-height: 1;
    font-size: 4.5rem;
    font-weight:700;
    min-width: 768px;
}

.description{
    --tw-text-opacity: 1;
    margin:0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    width: 515px;
    font-weight: normal;
}
                    /* Available for work button */
.available{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:.5rem
}
.available-button{
    background-color: black; 
    color:white; 
    border-radius: 20px; 
    padding:0.5rem 1rem 0.5rem 1rem; 
    line-height: 1.25rem; 
    font-size: 0.875rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1.5px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #1e293b,
        #767676
      ) border-box;
    animation: 8s rotate linear infinite;
    transition: 2s;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.available-button:hover{
    cursor: pointer;
    border: 2px solid rgb(31, 42, 61);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }

}

.blinking-circle {
    color: green;
    animation: blink 2.5s infinite;
}

.two-buttons{
    display: flex;
    flex-direction: row;
    gap:1.25rem;
    align-items: center;
    height:2.5rem;
}

.two-buttons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background-color: white;
    color:black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height:1.25rem;
    border-radius: 6px;
    transition: 0.15s;
}

.two-buttons a:hover{
    background-color: rgb(225, 223, 223);
}

.foot{
    --tw-text-opacity:1;
    color:rgb(107 114 128 / var(--tw-text-opacity));
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 100px;
    margin-bottom: 2.5rem;
    display: block;
    text-align: center;
    unicode-bidi: isolate;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}