*{
    text-decoration: none;
    font-family:"Inter", sans-serif;
}
html{
    scroll-behavior:smooth;
    max-width: 100%;
}
body{
    background-color: black;
    margin:0;
}
div{
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
}
h1{
    color:white;
}

#super-container{
    width: 100%;
    padding: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow: hidden;
}

#hero-section{
    background-image: radial-gradient(rgb(47, 46, 46), rgb(0, 0, 0), black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 12rem;

}
/* Navigation bar */

 #nav-container{
    opacity: 1;
    transform: none;
    --tw-bg-opacity: 0.5;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    border-bottom: 1px solid rgb(31, 42, 61);
    z-index: 50;
    position: relative;
    overflow: hidden;
 }

#navdiv{
    min-width: 1024px;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

#button-container{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.social-logo{
    height:22px;
    width:22px;
}

#menu-items{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

#menu-items a{
    color:white;
    text-decoration: inherit;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

#menu-items a:hover{
    color: #9ba3af;
}

#social-container{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.logo{
    background-color:white; 
    height:20px;
    width:20px; 
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    text-align: center;
    padding:5px 5px 5px 5px; 
    font-size: 20px;
    color:black;
}
/* The area used for showcasing the main info */
                    /* Dev info */

.main-heading{
    opacity: 1;
    transform: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap:1rem;
    background-color: hsl(var(--background) / .96);
    color:white;
    line-height: 1;
    font-size: 4.5rem;
    font-weight:700;
    min-width: 768px;
}
.description{
    --tw-text-opacity: 1;
    margin:0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    width: 515px;
}
                    /* Available for work button */
.available{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:.5rem
}
.available-button{
    background-color: black; 
    color:white; 
    border-radius: 20px; 
    padding:0.5rem 1rem 0.5rem 1rem; 
    line-height: 1.25rem; 
    font-size: 0.875rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1.5px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #3f3f3f
      ) border-box;
    animation: 8s rotate linear infinite;
    transition: 2s;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.available-button:hover{
    cursor: pointer;
    border: 2px solid rgb(31, 42, 61);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }

}

.blinking-circle {
    color: green;
    animation: blink 2.5s infinite;
}

.two-buttons{
    display: flex;
    flex-direction: row;
    gap:1.25rem;
    align-items: center;
    height:2.5rem;
}
.two-buttons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background-color: white;
    color:black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height:1.25rem;
    border-radius: 6px;
}
.foot{
    --tw-text-opacity:1;
    color:rgb(107 114 128 / var(--tw-text-opacity));
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 100px;
    margin-bottom: 2.5rem;
    display: block;
    text-align: center;
    unicode-bidi: isolate;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
                        /* Contact Me */
#contact{
    width:100%;
    padding:1.25rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}                       
#contact-me-section{
    padding: 0.5rem;
    scroll-margin-top: 7rem;
    max-width: 48rem;
    width: 100%;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
}
.contact-me-heading{
    margin:0;    
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 700;
}
.mail-line{
    --muted-foreground: 215 20.2% 65.1%;
    color: hsl(var(--muted-foreground));
    margin:0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom:1.25rem;
}
.email{
    display: flex;
    margin:0;
    background-color: black;
    border: 1px solid rgb(31, 42, 61);
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 6px;
    width: 100%;
    height:1.25rem;
    color:white;
}
.message{
    display: flex;
    margin:0;
    background-color: black;
    border: 1px solid rgb(31, 42, 61);
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 6px;
    width: 100%;
    height:1.25rem;
    color:white;
    min-height: 150px;
    resize: vertical;
}
.send-button{
    display: flex;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color:black;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
    border-radius: 6px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 2.5rem;
    transition: 0.15s;
}
.send-button:hover{
    cursor: pointer;
    padding:1.25rem;
}
::placeholder{
    --muted-foreground: 215 20.2% 65.1%;
    color: hsl(var(--muted-foreground));
}
                /* About HTML */
.about{
    opacity: 1;
    transform: none;
    max-width:100%;
    margin-right: auto;
    margin-left: auto;
    margin-top:2.5rem;
    padding: 0.5rem;
    padding-right:15em;
    padding-left: 15rem;
}
#who{
    margin: 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.about-html-div-container{
    border-top: 1px solid rgb(31, 42, 61);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2.5rem;
    padding: 0.75rem;
}
.profile{
    color:transparent; 
    margin-top:.75rem; 
    max-width: 100%; 
    height: auto; 
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
#techstack, #about-web{
    margin: 0;
    font-weight: 700;
    font-size: 1.875rem;
    line-height:2.25rem;
    margin-bottom: 0.5rem;
}

/* Experience Section */

.experience-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 7rem;
    margin-top: 200px;
}

.experience-content-card-section{
    min-width: 640px;
    display: flex;
    position: relative;
    max-width: 56rem;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#experience-card-container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 2.5rem;
}

.experience-card{
    padding: 1.25rem;
    width: 100%;
    border: 1px solid #374151;
    border-radius: 0.5rem;
}

.experience-header{
    text-transform: capitalize; 
    font-weight: 600; 
    font-size: 1.5rem; 
    line-height: 2rem;
    margin:0;
}

.experience-location{
    font-weight: 400; 
    margin-top: 0.5rem; 
    color: white;
}

.experience-institution{
    color: white; 
    margin-top: 0.25rem;
}

.experience-description{
    --tw-text-opacity: 1; 
    color: rgb(55 65 81 / var(--tw-text-opacity)); 
    font-weight: 400; 
    margin-top: 1rem;
}

.experience-duration{
    font-weight: 400; 
    margin-top: 1.25rem; 
    color: white;
}


/* Projects Section Homepage */

#project-section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    width: 100%;
    opacity: 1;
    transform: none;
}

#my-projects{
    margin-bottom: 1.75rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

#project-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid #1e293b;
    border-radius: 0.5rem;
    width: 39%;
    color: hsl(var(--card-foreground));
    background-color: hsl(var(--card));
    --card: 0 0% 0%;
    --tw-ring-offset-shadow: 0 0 #0000;
    --card-foreground: 210 40% 98%;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
}

.project-thumbnail{
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.project-description-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.5rem;
    justify-content: space-between;
}

.project-description{
    --muted-foreground: 215 20.2% 65.1%;
    color: hsl(var(--muted-foreground));
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: .5rem;
}

.project-technology-container{
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem* var(--tw-space-y-reverse));
}

.technology-header{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

.shield-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.technology-name{
    --foreground: 210 40% 98%;
    color: hsl(var(--foreground));
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.125rem 0.625rem 0.125rem 0.625rem;
    border: 1px solid #1e293b;
    border-radius: 9999px;
    align-items: center;
    display: inline-flex;
}

.project-link-button{
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem* var(--tw-space-y-reverse));
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-github{
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --radius: 0.5rem;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    color: hsl(var(--primary-foreground));
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: hsl(var(--primary));
    border-radius: calc(var(--radius) - 2px);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.live-demo-button{
    --background: 0 0% 0%;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 12px;
    background-color: hsl(var(--background));
    border: 1px solid #1e293b;;
    border-radius: 6px;
    gap: 0.5rem;
    align-items: center;
    display: inline-flex;
    color: inherit;
    text-decoration: inherit;
}

#more-projects-button{
    --background: 0 0% 0%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --tw-ring-offset-color: hsl(var(--background));
    color: hsl(var(--primary-foreground));
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: hsl(var(--primary));
    border-radius: 6px;
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    text-decoration: inherit;
}

/* Projects Page */

#container-project-page{
    opacity: 1;
    transform: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
}

#container-cover{
    position: fixed;
    z-index: 9999;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    pointer-events: none;
}

#project-page-header{
    text-decoration-line: underline;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 0;
}

#project-page-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    gap: 1.25rem;
}
